# Sources = inputs, transforms = data management, sinks = outputs.
# inputs consist of syslog(port 514), http server(http request ex.curl,json port 8080), file batch(specify the path for log file in the device)
# transforms use VRL(Vector Remap Language) to modify data

[sources.syslog]  
type = "syslog"  
address = "0.0.0.0:514"  
mode = "udp"  

[sources.http_ingest]  
type = "http_server"  
address = "0.0.0.0:8080"  

[sources.file_batch]  
type = "file"  
include = ["/logs/*.json"]  

[transforms.normalize]  
type = "remap"  
inputs = ["syslog", "http_ingest", "file_batch"]  
source = '''  
  .tenant = get_env_var("TENANT") ?? "default"  
  .@timestamp = now()  
  if .source == "syslog" { parsed, _ = parse_syslog(.message); . = merge(., parsed) }  
  # Parsing for other sources (add more if needed)  
'''  

[sinks.opensearch]  
type = "elasticsearch"  
inputs = ["normalize"]  
endpoints = ["http://opensearch:9200"]  
index = "logs-{{ tenant }}-%Y.%m.%d"  
healthcheck.enabled = true